section {
	width: 600px; height: 400px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #eee;
	border:1px solid black;
}

.info{
	display: flex;	align-items: center;
	width: 100%; height: 50px;
}

.btn{
	width: auto;  height: 10px; line-height: 10px;
	padding: 1rem ;
	background: palegreen;
	border-radius: 20px;
	margin:10px;
}

.info p {	width: 400px; }

.chart {
	width: 100px;	min-height: 10px;
	box-shadow: 2px 1px 5px #333;
	margin: 0 10px;
	text-align: center;
	align-self: flex-end;
}

.chart span {
	font-family: sans-serif;
	color: white;
}

.samsung{
	background: red;  transition: height 2s;
}

.apple{
	background: blue; transition: height 2s;
}